body {
    background-color: #CFE2FC;
}

.titulo {
    border-bottom: solid 1px gray;
}

#resultado {
    padding: 10px;
    width: fit-content;
}

.center {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.links {
    text-decoration: none;
    color: black;
    font-size: larger;
    padding: 10px;
    border-bottom: solid 1px gray;

}

.links:hover {
    font-size: 20px;
    transition: 0.2s;
}

input {
    display: block;
}

.nome_completo {
    margin-bottom: 10px;
}

#resultado > span {
    display: block;
    padding-top: 10px;
}

#resultado {
    padding: 5px;
}

.divExercicios04 {
    border-bottom: solid 4px gray;
    padding-bottom: 7px;
}

#numerosPar, #resultadoMedia, #resultadoMenor, #resultadoMaior {
    padding-bottom: 10px;
    padding-top: 10px;
}

.divInline > input {
  display: inline;
}